<section class="calendar">
  <h2 class="section-title">Червень, 2026</h2>
  <div class="calendar-weak">
    <p class="text">ПН</p>
    <p class="text">ВТ</p>
    <p class="text">СР</p>
    <p class="text">ЧТ</p>
    <p class="text">ПТ</p>
    <p class="text">СБ</p>
    <p class="text">НД</p>
  </div>
  <div class="calendar-day">
    <p class="text">1</p>
    <p class="text">2</p>
    <p class="text">3</p>
    <p class="text">4</p>
    <p class="text">5</p>
    <p class="text">6</p>
    <p class="text">7</p>
  </div>
  <svg class="icon-heart" width="40" height="40">
    <use href="./img/sprite.svg#icon-heart"></use>
  </svg>
</section>
