<section class="dresscode">
  <h2 class="section-title">Дрес-код</h2>
  <p class="text">
    Будемо дуже вдячні, якщо ви підтримаєте стиль і колір нашого весілля у своїх
    образах.
  </p>
  <div class="ellipse-group">
    <div class="ellipse ellipse1"></div>
    <div class="ellipse ellipse2"></div>
    <div class="ellipse ellipse3"></div>
    <div class="ellipse ellipse4"></div>
    <div class="ellipse ellipse5"></div>
  </div>
  <p class="text">
    Просимо утриматися від білого кольору та яскравих неонових відтінків. Також
    рекомендуємо взяти одяг з урахуванням наявності басейна на території.
  </p>
</section>
