<section class="modal-envelope">
  <div class="envelope">
    <div class="envelope-convert-btn">
      <img
        class="convert-top"
        src="https://october-forevent.vercel.app/images/OctC1.webp"
        alt="convert"
      />
      <img
        class="convert-botton"
        src="https://october-forevent.vercel.app/images/OctC1.webp"
        alt="convert"
      />
      <button class="open-btn">
        <img
          src="https://october-forevent.vercel.app/images/N10.webp"
          alt="N10"
          class="open-btn-img"
        />
      </button>
    </div>
    <div class="text-container">
      <h1 class="envelope-title">ви запрошені</h1>
      <h2 class="envelope-title-curcive">на весілля</h2>
    </div>

    <div class="envelope-text">
      <p>
        Цей день особливий для нас, і ми хочемо розділити його з тими, хто
        справді близький серцю
      </p>
    </div>
  </div>
</section>
