<section class="timer">
  <h2 class="section-title">Ми скажемо “так” через</h2>
  <div class="countdown-timer">
    <div class="time-box">
      <span class="number" id="days">00</span>
      <p id="days-label">днів</p>
    </div>

    <div class="time-box">
      <span class="number" id="hours">00</span>
      <p>годин</p>
    </div>

    <div class="time-box">
      <span class="number" id="minutes">00</span>
      <p>хвилин</p>
    </div>

    <div class="time-box">
      <span class="number" id="seconds">00</span>
      <p>секунд</p>
    </div>
  </div>
</section>
