<section class="timing">
  <h2 class="section-title">Таймінг</h2>
  <div class="timing-container">
    <div class="timing-part glasses">
      <h3 class="part-title">Збір гостей</h3>
      <p class="text">13:00</p>
      <svg class="part-icon" width="82" height="82">
        <use href="./img/sprite.svg#icon-glasses"></use>
      </svg>
    </div>
    <div class="timing-part rings">
      <h3 class="part-title">Церемонія</h3>
      <p class="text">14:00</p>
      <svg class="part-icon" width="82" height="82">
        <use href="./img/sprite.svg#icon-rings"></use>
      </svg>
    </div>
    <div class="timing-part photo">
      <h3 class="part-title">Фото</h3>
      <p class="text">14:30</p>
      <svg class="part-icon" width="82" height="50">
        <use href="./img/sprite.svg#icon-photo"></use>
      </svg>
    </div>
    <div class="timing-part plate">
      <h3 class="part-title">Банкет</h3>
      <p class="text">15:30</p>
      <svg class="part-icon" width="82" height="82">
        <use href="./img/sprite.svg#icon-plate"></use>
      </svg>
    </div>
    <div class="timing-part cake">
      <h3 class="part-title">Торт</h3>
      <p class="text">19:00</p>
      <svg class="part-icon" width="82" height="82">
        <use href="./img/sprite.svg#icon-cake"></use>
      </svg>
    </div>
    <div class="timing-part balls">
      <h3 class="part-title">Завершення</h3>
      <p class="text">21:00</p>
      <svg class="part-icon" width="82" height="82">
        <use href="./img/sprite.svg#icon-balls"></use>
      </svg>
    </div>
  </div>
  <div class="timing-line">
    <div>
      <svg
        width="394"
        height="780"
        viewBox="0 0 394 1640"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M148.258 1.03809C148.258 1.03809 418.399 80.4656 390.533 262.767C362.667 445.069 54.2746 362.133 54.0869 548.029C53.9335 699.95 329.535 720.929 324.611 872.77C319.104 1042.61 -12.8848 992.372 0.977448 1161.73C12.7099 1305.07 282.513 1302.89 279.643 1446.68C276.738 1592.21 93.0706 1639.49 93.0706 1639.49"
          stroke="#E0C590"
        ></path>
      </svg>
    </div>
  </div>
</section>
