:root {
  --font-family: 'Alegreya SC', sans-serif;
  --second-family: 'Great Vibes', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  overflow-y: scroll;
}
body {
  font-family: 'Alegreya SC', sans-serif;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #354d37;
  scroll-behavior: smooth;
  text-align: center;
  background-color: #fffdf6;
}
section {
  margin: 20px auto;
}
.section-title {
  font-family: 'Great Vibes', sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #354d37;
  margin-bottom: 18px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.4s ease, transform 1.4s cubic-bezier(0.22, 1, 0.36, 1);
}
.section-title.animate {
  opacity: 1;
  transform: translateY(0);
}
.text {
  font-size: 16px;
  margin-bottom: 16px;
}
.text:last-child {
  margin-bottom: 0;
}
/* main спочатку схований */
.main.hidden {
  opacity: 0;
  pointer-events: none;
  height: 0;
  overflow: hidden;
}

.main.visible {
  opacity: 1;
  pointer-events: auto;
  height: auto;
  transition: opacity 0.5s ease;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

/* envelope зникає */
.envelope-screen.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
}
