.container {
  width: 412px;
  margin: 0 auto;
  padding: 0 20px;
}

/* @media only screen and (min-width: 768px) {
  .container {
    max-width: 768px !important;
    padding: 0 32px !important;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px !important;
    padding: 0 64px !important;
  }
} */
