/* ФОН СЕКЦІЇ */
.modal-envelope {
  position: fixed;
  inset: 0;
  background-color: #354d37;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}

/* ОСНОВНИЙ БЛОК */
.envelope {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* КНОПКА + КОНВЕРТ */
.envelope-convert-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.convert-top,
.convert-botton {
  position: relative;
  width: 50vw;
  max-height: 50vh;
  object-fit: cover;
  z-index: 15;
  opacity: 1;
  transition: transform 3s cubic-bezier(0.22, 1, 0.36, 1), opacity 1s ease; /* transform + opacity */
}
.convert-top {
  z-index: 15;
}

.convert-botton {
  transform: rotate(180deg);
  z-index: 10;
}

/* КНОПКА */
.open-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 20;
  transition: none; /* миттєве зникнення */
}

.open-btn-img {
  max-height: 200px;
}

/* ТЕКСТ */
.text-container,
.envelope-text {
  position: absolute;
  text-align: center;
  color: #fff;
  z-index: 25;
  transition: none; /* миттєве зникнення */
}

.text-container {
  top: 20%;
  width: 80%;
}

.envelope-text {
  bottom: 20%;
  max-width: 390px;
  min-width: 230px;
  left: 50%;
  transform: translateX(-50%);
}

/* Заголовки */
.envelope-title {
  font-size: 62px;
  font-weight: 100;
  line-height: 0.9;
  margin-bottom: 14px;
}

.envelope-title-curcive {
  font-family: 'Great Vibes', cursive;
  font-size: 94px;
  margin-bottom: 0;
}

.envelope-text p {
  font-size: 26px;
  line-height: 1.2;
}

/* =========================
   Анімація конверта
========================= */
.convert-top.open {
  transform: translateY(-150%) scale(1.05);
  opacity: 0;
}

.convert-botton.open {
  transform: translateY(150%) rotate(180deg) scale(1.05);
  opacity: 0;
}

/* Миттєве зникнення тексту, кнопки і фону */
.modal-envelope.hide-elements {
  background-color: transparent;
}

.modal-envelope.hide-elements .text-container,
.modal-envelope.hide-elements .envelope-text,
.modal-envelope.hide-elements .open-btn {
  opacity: 0;
  transition: none;
}

/* =========================
   АДАПТИВНІСТЬ
========================= */
@media (max-width: 768px) {
  .convert-top,
  .convert-botton {
    width: 120vw;
    max-height: 50vh;
  }
  .open-btn-img {
    max-width: 160px;
  }
  .envelope-title {
    font-size: 40px;
  }

  .envelope-title-curcive {
    font-size: 68px;
  }
  .envelope-text p {
    font-size: 20px;
  }
}
