.modal-envelope {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
}

.modal-envelope.hide-elements {
  position: fixed;
  opacity: 0;
  transition: opacity 2s ease-out;
}

.envelope {
  background-color: #354d37;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  opacity: 1;
}

.envelope.hide-elements {
  position: fixed;
  opacity: 0;
  transition: opacity 2s ease-out;
}

.text-container {
  width: 191px;
  position: absolute;
  top: 13.6vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

.envelope-title {
  font-size: 25px;
  line-height: 25px;
  color: #fffdf6;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.envelope-title-curcive {
  font-family: 'Great Vibes', sans-serif;
  font-size: 64px;
  line-height: 50px;
  color: #fffdf6;
  text-align: center;
}
.open-btn {
  padding: 0;
  border: none;
}
.open-btn-img {
  height: 133px;
  position: absolute;
  top: 45vh;
  left: calc(50% - 70.35px);
  z-index: 20;
}

.envelope-text {
  font-size: 18px;
  line-height: 22px;
  color: #fffdf6;
  text-align: center;
  width: 281px;
  position: absolute;
  bottom: 16.6vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

.convert-top {
  width: 889.4px;
  position: absolute;
  bottom: 41.09vh;
  left: calc(50% - 444.7px);
  z-index: 15;
}

.convert-top.open {
  transform: translateY(-300px);
  opacity: 0;
  transition: opacity 5s ease-out, transform 5s ease-out;
}

.convert-botton.open {
  transform: translateY(300px) rotate(180deg);
  opacity: 0;
  transition: opacity 5s ease-out, transform 5s ease-out;
}

.convert-botton {
  width: 889.4px;
  position: absolute;
  top: 39.58vh;
  left: calc(50% - 444.7px);
  z-index: 10;
  opacity: 1;
  transform: rotate(180deg);
}

.convert-botton.open {
  animation: maneSection_slideDownThenFade__0rwrv 2s ease-out forwards;
}

.modal-envelope.hide-elements .text-container,
.modal-envelope.hide-elements .envelope-text,
.modal-envelope.hide-elements .open-btn {
  opacity: 0;
}

.modal-envelope_two {
  position: fixed;
  opacity: 0;
}

.modal-envelope_two.hide-elements {
  position: unset;
  opacity: 1;
  transition: opacity 2s ease-out;
}
@media only screen and (max-width: 890px) {
  .convert-top,
  .convert-botton {
    left: 0;
  }
}
