.envelope2 {
  position: relative;
}

.envelope2-text {
  position: absolute;
  top: 60px;
  left: 147px;
  width: 164px;
  margin-bottom: 0;
  transform: translateX(-50%) rotate(-15deg);
}

.icon-telegram {
  fill: #354d37;
  position: absolute;
  top: 180px;
  left: 177px;
  animation: pulse-telegram 1.6s ease-in-out infinite;
}

/* 🔹 ОКРЕМА анімація для телеграма */
@keyframes pulse-telegram {
  0%,
  100% {
    transform: translateX(-50%) rotate(-15deg) scale(1);
  }
  50% {
    transform: translateX(-50%) rotate(-15deg) scale(1.12);
  }
}
