.finish {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.finish .text {
  margin: 0;
  font-size: 20px;
  text-align: center;
}

/* СТАРТОВИЙ СТАН: повністю приховані маскою */
.finish svg {
  opacity: 1;

  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  -webkit-mask-size: 200% 100%;
  -webkit-mask-position: left center;
  -webkit-mask-repeat: no-repeat;

  transition: -webkit-mask-position 7s cubic-bezier(0.22, 1, 0.36, 1);
}

/* ПРОЯВЛЕННЯ — рух маски по горизонталі */
.finish svg.animate {
  -webkit-mask-position: right center;
}

/* Нижня гілка перевернута 180 градусів */
.icon-branch2 {
  transform: rotate(180deg);
  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  -webkit-mask-size: 200% 100%;
  -webkit-mask-position: right center;
  -webkit-mask-repeat: no-repeat;

  transition: -webkit-mask-position 7s cubic-bezier(0.22, 1, 0.36, 1);
}

.icon-branch2.animate {
  -webkit-mask-position: left center;
}
