/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./envelope.css');
@import url('./card.css');
@import url('./text.css');
@import url('./calendar.css');
@import url('./location.css');
@import url('./timing.css');
@import url('./card2.css');
@import url('./dresscode.css');
@import url('./envelope2.css');
@import url('./timer.css');
@import url('./card3.css');
@import url('./finish.css');
