.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-timer {
  display: flex;
  gap: 45px;
}

.time-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #c7a546;
}

.time-box span {
  font-weight: 400;
  font-size: 48px;
}

.time-box p {
  font-weight: 400;
  font-size: 14px;
  opacity: 0.7;
}
.number {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  perspective: 600px;
}

.flip {
  animation: flipDown 0.6s ease;
}

@keyframes flipDown {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
